body{
    background: linear-gradient(to right, #a1733b, rgb(179, 159, 127)) ;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
#foto1{
    height: 250px;
    width: 270px;
    border-radius: 40%;
    border-color: black;
    border-style: ridge;
    border-width: 2px;
}
.titulo{
    font-size: 25px;
}

.linea{
    border-width: 2px;
    border-color: black;
    width: 70%;    
}
.progress{
    width: 250px;
    justify-content: center;
}
.linea2{
    border-width: 2px;
    border-color: black;
    width: 30%;
}
.Educacion{
    font-size: 16px;
}


